<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>crud</title>
  <link rel="stylesheet" href="../estilo-basico.css">
</head>
<body ng-app="appCrud" ng-controller="appCrudController as vm">

    <h1>Listado películas</h1>
    
    <p><label>Nombre:</label><input type="text" ng-model="vm.nuevaPelicula.nombre"/></p>
    <p><label>Director:</label><input type="text" ng-model="vm.nuevaPelicula.director"/></p>
    
    <p><label>Clasificación:</label>
    
   <select ng-model="vm.nuevaPelicula.clasificacion">
              <option ng-repeat="clasif in vm.clasificaciones track by $index" value="{{clasif.nombre}}">{{clasif.nombre}}</option>
          </select>
    </p>
  
    <p>
          <a class="accion" ng-click="vm.insertarPelicula()">Guardar</a>
    </p>
    
    
    <div ng-show="vm.editando">
        <h2>Editar peli</h2>
        <p><label>Nombre:</label><input type="text" ng-model="vm.editPelicula.nombre"/></p>
        <p><label>Director:</label><input type="text" ng-model="vm.editPelicula.director"/></p>

        <p><label>Clasificación:</label>

       <select ng-model="vm.editPelicula.clasificacion">
                  <option ng-repeat="clasif in vm.clasificaciones track by $index" value="{{clasif.nombre}}">{{clasif.nombre}}</option>
              </select>
        </p>

        <p>
              <a class="accion" ng-click="vm.guardarPelicula()">Editar</a>
        </p>    
                
    </div>
    
    
    <h2>Listado películas</h2>
    <p ng-show="vm.error">{{vm.error}} </p>
    
    <table ng-show="vm.peliculas.length != 0">
    
        <tr>
            <td>Nombre</td>
            <td>Director</td>
            <td>Clasificación</td>
        </tr>
        
        <tr ng-repeat="pelicula in vm.peliculas track by $index">
            <td>{{pelicula.nombre}}</td>
            <td>{{pelicula.director}}</td>
            <td>{{pelicula.clasificacion}}</td>
            
            <td>
                <a class="accion accioneditar" ng-click="vm.editarPelicula($index)">E</a>
                <a class="accion accionborrar" ng-click="vm.borrarPelicula(pelicula.id)">X</a>
            </td>
        </tr>
    
    </table>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="appCrud.js"></script>
</body>
</html>